.footer {
  font-size: @font-size-small;
  padding: 80px 0;
  color: @footer-color;
  background: @dark-grey;
  text-align: center;

  .footer-nav {
    margin-bottom: 20px;

    li {
      display: inline-block;

      a {
        display: inline-block;
        font-size: @font-size-base;
        color: @footer-color;
        text-transform: capitalize;
        padding-left: 10px;
        padding-right: 10px;
        .easeanimation();

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}