.header {
  flex: 1 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: @header-height;
  background: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 14px 1px #eca151;
  .easeanimation();
  z-index: 999;

  &.shrink {
    height: @header-small-height;
    line-height: 52px;
    background: @soft-orange;

    .flex-logo {
      height: @header-small-height;
      line-height: 60px;
    }

    .flex-nav {
      height: @header-small-height;

      .flex-item-list {
        a {
          height: @header-small-height;
          line-height: 60px;
        }
      }
    }
  }
}

.flex-logo {
  width: 20%;
  height: @header-height;
  align-self: flex-end;
  color: white;
  line-height: @header-height;
  .easeanimation();
}

.flex-nav {
  width: 50%;
  height: @header-height;
  align-items: center;
}

.flex-item-list {
  width: 20%;
  height: 100%;
  text-align: center;

  a {
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: @header-height;
    text-transform: capitalize;
    .easeanimation();

    &:hover {
      u {
        text-decoration: underline;
      }
    }
  }
}
