.section {
  flex: 1 100%;
  padding: 50px 0;

  @media @screen-sm-min {
    padding: 70px 0;
  }
}

/* home-section */
.home-section {
  padding-top: 100px;
  background: @soft-orange;
}

.heading-block {
  max-width: 100%;
  text-align: center;
  padding: 150px 30px 150px;
  color: white;
  margin: 0 auto;

  @media @screen-sm-max {
    padding: 60px 0;
  }
}

/* info-section */
.info-section {
  text-align: center;
  position: relative;
}

/* About section */
.about-section {
  background: @light-grey;
}

/* Our client section */
.our-clients-section {
  .area-container {
    @media only screen and (max-device-width: 768px) and (orientation: portrait) {
      text-align: left;
    }

    .flex-col{
      @media only screen and (max-device-width: 768px) and (orientation: portrait) {
        margin-bottom: 30px;
      }

      @media only screen and (max-device-width: 1024px) and (orientation: landscape) {
        text-align: left;
      }
    }
  }

  .caption {
    text-align: center;
  }
}

/* subscribe-section */
.subscribe-section {
  background: @soft-orange;

  .caption {
    color: white;

    @media only screen and (max-device-width: 768px) and (orientation: portrait) {
      text-align: center;
    }

    @media @screen-md-min {
      margin-bottom: 0;
    }
  }

  .flex-col-wide {
    align-self: center;
    padding-top: 0;
  }
}